<title>关心亲人</title>
<div align="center">
    <img src="static/images/heart.png" alt="" >
</div>
<div align="center">
    <p>    欢迎订阅 天气变化 </p>
</div>
<form NAME ="sub" ACTION="weather" METHOD="post" align="center">
<div align="center">
    <fieldset style="width:400px; text-align:center;">
        <legend>订阅</legend>
        <p>手机号: <div ><input type="text" name="phone" /></div></p>
        <p>自定义短信：<div ><textarea  style="width:260;overflow-y:visible;" placeholder="{weather}代表天气信息，举例：[亲爱的XX，{weather}，爱你的xx] 短信内容将为：[亲爱的xx，{明天北京降温3度/刮大风/要下雨/要下雪，记得添件衣服/带伞}，爱你的xx] ，限50字，本框为空的话默认只发送{weather}内容作为短信" type = "text" rows=7 maxlength=50 name = "sms"></textarea></div></p>
        <input type="submit" value="Submit" />
</fieldset>
</div>
</form>
<form NAME ="unsub" ACTION="unsub" METHOD="post" align="center">
<div align="center">
    <fieldset style="width:400px; text-align:center;">
        <legend>退订</legend>
        <p>手机号: <div ><input type="text" name="phone" /></div></p>
        <input type="submit" value="Submit" />
</fieldset>
</div>
</form>
